.page {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 340px;
  min-height: 100%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}
